<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="springioc.class008.ApplicationController" scope="request"/>
    <bean class="springioc.class008.RequestController"/>
    <bean class="springioc.class008.SessionController"/>
</beans>